#SCM3RD {
  margin-top: 35px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}


#SCM3RD .icons {
  margin: 0px 12px;
  height: 92px;
  width: auto;
}


#SCM3RD h1 {
  margin: 4px 15px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.555);
}