#SCM3RD {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
}


#SCM3RD .icons {
  margin: 0px 4.6px;
  height: 62px;
  width: auto;
}


#SCM3RD h1 {
  margin: 0px 8px;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
}