body {
        width : 400px;
        height : auto;
        font-family : Arial, sans-serif;
        text-align : center;
        padding-top : 0px;
        background-color : rgb(32, 59, 86);
       }

h1, h2, h3, h4, h5, h6, p {
        color : white;
        padding-bottom : 5px
       }

h1 {
        font-size: 1.8em;
        margin : 5px;
       }


table {
    margin : 20px auto 30px;
    align-items : center;
}

td {
    padding : 10px 10px 4px;
    font-size : 1.4em;
    color : white;
    text-align : left;
}

.icons {
    height : 54px;
    width : auto;
    max-width: 70px
}

.righticons {
  margin-left: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #6F8FFC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6F8FFC;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.genopt {
    font-weight: bold;
    font-size: 110%;
    color: rgb(232, 232, 232);
    width: auto;
}